body {
  width: 1200px;
}

/* ヘッダー画像 */
/* .h {
  width: 325px;
  height: 68px;
} */

/* ナビ部分 */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(235, 179, 27);
}

.header_nav {
  margin-right: 25px;
}

.header_nav ul {
  display: flex;
  list-style: none;
}
.nav_memu {
  font-size: 16px;
  padding: 50px 25px;
}

/* Main（ビジュアル）部分 */
.mv {
  background-color: pink;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  height: 500px;
}

/* .mv-h1 {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 185px;
}

.mv-p {
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 30px;
} */

/* About */
/* .about-h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  text-align: center;
  padding-top: 60px;
} */

/* .about-h2ja {
  font-size: 18px;
  color: #222222;
  text-align: center;
  padding: 30px 0px 60px 0px;
}
.about-p1 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 40px;
}

.about-p2 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 40px;
}

.about-p3 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 40px;
}

.about-p4 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 80px;
} */

/* イメージ写真4枚 */
.image {
  display: flex;
}

.image img {
  width: 25%;
}

/* course */
.course-h2 {
  font-size: 24px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.course-p {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 100px;
}

.box-top {
  display: flex;
}
.box1 {
  width: 600px;
  height: 400px;
}
.box1 img {
  width: 600px;
  height: 400px;
}

.box2 {
  width: 600px;
  height: 400px;
  background-color: #fafafa;
}

/* .text-h3 {
  font-size: 26px;
  font-weight: bold;
  padding: 40px 0 20px 50px;
} */
.text-p {
  width: 480px;
  font-size: 16px;
  padding-left: 50px;
}

.box-middle {
  display: flex;
}

.box3 {
  width: 600px;
  height: 400px;
  background-color: #fafafa;
}

.box3-text-h3 {
  font-size: 26px;
  font-weight: bold;
  padding: 120px 0px 40px 0px;
  display: block;
  margin: 0px 50px 0px 120px;
}

.box3-text-p {
  font-size: 16px;
  display: block;
  margin: 0px 50px 0px 120px;
}

.box4 {
  width: 600px;
  height: 400px;
  background-color: #fafafa;
}

.box4 img {
  width: 600px;
  height: 400px;
}

.box-bottom {
  display: flex;
}
.box5 {
  width: 600px;
  height: 400px;
}
.box5 img {
  width: 600px;
  height: 400px;
}

.box6 {
  width: 600px;
  height: 400px;
  background-color: #fafafa;
}

/* NEWS */

.news_1 {
  width: 300px;
}

/* .date{
     font-size: 14px;
     padding:0px 0 px 0;
 } */

.news_1 {
  font-size: 14px;
  margin: 0px 15px 60px 15px;
}

.news-contents {
  display: flex;
  justify-content: center;
}

.news-h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  text-align: center;
  padding-top: 30px;
}

.news-h2ja {
  font-size: 18px;
  color: #222222;
  text-align: center;
  padding-bottom: 20px;
}

/* NEWSボタン */
.button {
  width: 300px;
  height: 40px;
  background-color: #ffd61a;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: white;
  padding-top: 20px;
  transition: 0.4s;
}
/* ボタンのホバーアクション */
.button:hover {
  background-color: #ffd61a;
  opacity: 0.7;
}

.yohaku {
  height: 60px;
}

/* Access */

.Access {
  height: 1200px;
  background-color: #fafafa;
}

.Access-h2 {
  font-size: 24px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  padding: 60px 0px 30px 0px;
}

.Access-h2ja {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 60px;
}

/* 会社情報 */
.company {
  display: flex;
  justify-content: center;
}

.company table th {
  font-size: 16px;
  text-align: left;
  padding-top: 60px;
  padding-left: 30px;
}
.company table td {
  font-size: 16px;
  padding-top: 30px;
  padding-left: 30px;
}

/* CONTACT */

.contact-h2 {
  font-size: 24px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  padding-top: 60px;
}

.contact-p1 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding: 30px 0px 60px 0px;
}

.contact-p2 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 30px;
}

.contact-p3 {
  font-size: 16px;
  color: #222222;
  text-align: center;
  padding-bottom: 70px;
}

/* ここからフォーム部分 */

.contact-form {
  width: 640px;
  margin: 0 auto;
  height: 1000px;
}

.contact-form th {
  width: 240px;
  height: auto;
  text-align: left;
  padding-left: 16px;
  border: solid 1px #bfbfbf;
  border-left-style: none;
  font-size: 15px;
  vertical-align: middle;
}

.contact-form td {
  width: 400px;
  height: 50px;
  border: solid 1px #bfbfbf;
  border-right-style: none;
  padding: 8px 8px;
  vertical-align: middle;
}

input[type="text"] {
  padding: 10px 196px 10px 5px;
}
select.selectbox {
  padding: 10px 195px 12px 0px;
}

/* ボタンの中の記述 */
input#check1 {
  width: 25px;
  height: 25px;
  position: absolute;
}

.htext {
  padding-left: 70px;
  font-size: 13px;
}

.boxtext {
  padding: 12px 0px 12px 8px;
}
/* ボタンの中の記述---ここまで */

.submit-button {
  margin: 30px auto 140px;
  text-align: center;
}

.sub-button {
  width: 300px;
  height: 60px;
  background-color: #ffd61a;
  text-align: center;
  margin: 30px 40px 140px 0px;
  font-size: 18px;
  color: white;
  border-style: none;
}

input[type="button"] {
  text-align: center;
}

/* ボタンのホバーアクション */
.sub-button:hover {
  background-color: #ffd61a;
  opacity: 0.7;
  border-style: none;
}

footer {
  background-color: #707070;
  width: 1200px;
  text-align: center;
}

footer p {
  color: white;
  font-size: 14px;
  padding: 30px 0px;
}
